<!--
  Generated template for the InspirationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="startSearch()">
        <ion-icon style="font-size: 20px;" name="sp-search" color="light"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title (click)="startSearch()">
      <h2 class="title">SCIZZOR</h2>
    </ion-title>
    <!--
    <ion-buttons end >

      <ion-icon style="font-size: 30px;" name="sp-bag" color="light"></ion-icon>

    </ion-buttons>
      -->
  </ion-navbar>
</ion-header>
<ion-content class="inspiration">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngFor="let post of posts; let i = index; let even = even;">
    <div *ngIf="even" class="section" >
      <div class="even-post" *ngIf="posts[i]"  (click)="selectLookbook(posts[i])" [style.background-image]="' url('+posts[i].imageUrl+')'">
         <span class="likes-span">
            <ion-icon name="heart" item-start color="danger"></ion-icon> {{posts[i].totalLikes}}
         </span>

         <span class="share-span" *ngIf="false" (click)="shareLookBook(posts[i])"> 
            <ion-icon name="md-share"></ion-icon>
         </span>
      </div>
      <div  class="odd-post" *ngIf="posts[i+1]"  (click)="selectLookbook(posts[i+1])" [style.background-image]="' url('+posts[i+1].imageUrl+')'">
         <span class="likes-span">
            <ion-icon name="heart" item-start color="danger"></ion-icon> {{posts[i+1].totalLikes}}
         </span>
         <span class="share-span" *ngIf="false" (click)="shareLookBook(posts[i+1])">
            <ion-icon name="md-share"></ion-icon>
         </span>
        </div>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="showInfinitScroll">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <!-- TEST MAGAZINES -->
  <!---<div class="pin-layout even-items" *ngIf="itemMiddle > 0 && postLength > 0 && images.length > 0 && postLength % 2 == 0"> <!-- TEST MAGAZINES -->
    <!--<div class="pin" style="width:88%;background:#fff;position:relative" *ngFor="let post of images; let i = index" (click)="selectLookbook(post)" [ngClass]="{'second-even': i >= itemMiddle && i % 2 == 0 ,'second-odd': i >= itemMiddle && i % 2 > 0,'first-even': i < itemMiddle && i != itemMiddle && i % 2 == 0,'first-odd': i < itemMiddle && i != itemMiddle && i % 2 > 0}" [style.background-image]="' url(./assets/images/mag'+i+'.jpeg)'" >
      even
    </div>
  </div>-->

  <!--<div class="pin-layout odd-items" *ngIf="itemMiddle > 0 && postLength > 0 && images.length > 0 && postLength % 2 > 0"> <!-- TEST MAGAZINES -->
   <!-- <div class="pin" style="width:88%;background:#fff;position:relative" *ngFor="let post of images; let i = index" (click)="selectLookbook(post)" [ngClass]="{'second-odd': i > itemMiddle && i % 2 > 0,'second-even': i > itemMiddle && i % 2 == 0,'first-start': i <= itemMiddle && i == 0,'first-odd': i <= itemMiddle && (i % 2 > 0),'first-even': i <= itemMiddle && (i % 2 == 0)}" [style.background-image]="' url(./assets/images/mag'+i+'.jpeg)'" >
      oddd
    </div>
  </div> -->

  <!-- <div class="pin-layout"> <!-- TEST MAGAZINES -->

    <!--<div class="pin" style="width:88%;background:#fff;position:relative" *ngFor="let post of images; let i = index" (click)="selectLookbook(post)" [ngClass]="{'second': i >= itemMiddle && images.length %2 == 0,'second-odd': i > itemMiddle && images.length %2 > 0,'first': i < itemMiddle && images.length %2 == 0, 'first-odd': i <= itemMiddle && images.length %2 > 0}" [style.background-image]="' url(./assets/images/mag'+i+'.jpeg)'" >
    </div>
  </div> -->


</ion-content>