page-forgot-password {
    .login {
        scroll-content {
            display: flex;
            flex-direction: column;
        }
        ion-grid {
            padding: 0;
        }
        ion-row {
            flex: 1;
            height: auto;
            width: 100%;
            align-items: center;
        }
        ion-col {
            bottom: 0;
        }
        .input {
            background-color: #f7f7f7;
            text-align: center;
            font-family: gilroy;
        }
        .item {
            background-color: #f7f7f7;
        }
        background-color: #f7f7f7;
        background-size: cover;
        background-position: center;
        hr {
            color: #d3a33c;
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
        }
        .mid_img {
            height:200px;
            display: block;
            margin: 0 auto;
        }

        .forgot-password-text {
            text-align: center;
            padding: 10px;
            font-weight: bold;
        }
    }
}