page-rave-payment {
  .rave-payment {
    ion-item{
      background-color: black;
      color: white;
    }

    ion-input{
      color: white;
    }

    input[disabled] {
      color: #DB5C00 !important;
      background: none !important;
      opacity: 1 !important;
    }

    .select-disabled, .item-select-disabled ion-label {
      color: #DB5C00 !important;
      background: none !important;
      opacity: 1 !important;
    }

    select:[disabled] {
      color: red;
    }

    ion-label{
      color: white;
    }

    ion-select{
      color: white;
    }
      background-color: black;

  }

}
