<ng-container class="horizontal">
  <ion-grid>
    <ion-slides pager>
      <ion-slide [style.background-image]="' url('+dataService.lookbook.imageUrl+')'">
        <div class="postInfo">
          <ion-grid>
            <ion-row>
              <ion-col>
                <h2 padding>{{dataService.lookbook.title}}</h2>
                <p padding>{{dataService.lookbook.description}}</p>
                <p >{{dataService.lookbook.totalLikes}} likes</p>
              </ion-col>

            </ion-row>
          </ion-grid>
        </div>
        <ion-header  no-border >
          <ion-row style="background: #eee;opacity: 0.8;">
            <ion-col col-4><p class="animated bounceInRight" (click)="facebookShare(dataService.lookbook)"><ion-icon name="logo-facebook"></ion-icon></p></ion-col>
            <ion-col col-4><p class="animated bounceInRight" (click)="twitterShare(dataService.lookbook)"><ion-icon name="logo-twitter"></ion-icon></p></ion-col>
            <ion-col col-4><p class="animated bounceInRight" (click)="instagramShare(dataService.lookbook)"><ion-icon name="logo-instagram"></ion-icon></p></ion-col>
            <ion-col col-4><p class="animated bounceInRight" (click)="whatsappShare(dataService.lookbook)"><ion-icon name="logo-whatsapp"></ion-icon></p></ion-col>
            <ion-col col-4><p class="animated bounceInRight" (click)="emailShare(dataService.lookbook)"><ion-icon name="mail"></ion-icon></p></ion-col>
          </ion-row>
        </ion-header>
      </ion-slide>
      <ion-slide class="slide" *ngFor="let page of dataService.lookbook.pages">
        <img src="{{page.imageUrl}}" class="center">
        <ion-row>
          <ion-col col-4 text-right *ngIf="!(editing || creating)" class="animated flipInX">
            <button ion-button color="light" small outline *ngIf="dataService.permission == 'customer' && !(page.isLikedByMe)" (click)="like(page)" >   <ion-icon name="heart" item-start color="danger"></ion-icon> &nbsp; Like</button>
          </ion-col>
        </ion-row>
      </ion-slide>
      <ion-slide [style.background-image]="'url('+ dataService.coverImage +')'">
        <div class="postInfo">
          <ion-grid>
            <ion-row>
              <ion-col>
                <button center ion-button clear (click)="openUserProfile(dataService.lookbook.userCode)" color="main">
                  <h2  style="text-align:center;" padding>Created By : {{user.name}}</h2>
                </button>

                <ion-list>
                  <ion-item *ngFor="let tag of tags" color="clear" (click)="openProfile(tag)" no-lines>
                    <ion-avatar item-start>
                      <img src="{{getImage(tag)}}" class="center">
                    </ion-avatar>
                    <h3>{{user.name}}</h3>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-slide>


    </ion-slides>
  </ion-grid>
</ng-container>
