<ng-container class="horizontal">
  <ion-grid>

    <ion-slides pager >

      <ion-slide  [style.background-image]="' url('+dataService.lookbook.image+')'" >


        <div class="postInfo">
          <ion-grid>
            <ion-row  >
              <ion-col >
                <h2 padding>{{dataService.lookbook.title}}</h2>
                <p padding >{{dataService.lookbook.description}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>

        </div>

      </ion-slide>

      <ion-slide class="slide"  *ngFor="let page of dataService.lookbookPages"  >

        <img src="{{page.image}}" class="center" >

      </ion-slide>

      <ion-slide  [style.background-image]= "'url('+ dataService.coverImage +')'" >

        <div class="postInfo">
          <ion-grid>
            <ion-row  >
              <ion-col >
                <h2 style="text-align:center;" padding>Created By</h2>
                <ion-list >
                 <ion-item *ngFor="let tag of tags" color="clear" (click)="openProfile(tag)" no-lines >
                   <ion-avatar item-start>
                     <img src="{{getImage(tag)}}" class="center" >
                   </ion-avatar>
                   <h3>{{getUser(tag)}}</h3>

                 </ion-item>


                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>

        </div>

      </ion-slide>


    </ion-slides>
  </ion-grid>
</ng-container>
