page-user-profile {
    .userProfile {
        height: 100%;
        background-color: #f7f7f7;
        color: #fff;
        h2 {
            color: #DB5C00;
        }
        .storeholder {
            height: 100vh;
        }
        ion-icon{
          margin-right: 5px;
        }
        .post {
            display: inline-block;
            height: 20%;
            width: 33%;
            border: solid 0.5px #000000;
            background-size: cover;
            background-position: top;
        }
        ion-list {
            .item {
                background-color: #f7f7f7;
                color: #ffffff;
                .label {
                    font-family: gilroy;
                }
            }
        }
        .select {
            background-color: #ffffff;
            min-width: 100% !important;
            color: #DB5C00;
            font-family: gilroy;
        }
    }
}