page-sign-up {

  .signUp{

    scroll-content {
      display: flex;
      flex-direction: column;
    }

    ion-grid {
      padding: 0;
      height: 100%;
    }

    ion-row {
      flex: 1;
      height: 100%;

    }

    ion-col{
      bottom: 0;
    }



    background-image: url("/assets/images/main.png");
    background-color: transparent;
    background-size: cover;
    background-position: center;

    button{
      color: #DB5C00;
      background-color: transparent;
    }

    h2{
      color: #DB5C00;
      font-weight: bold;
    }
    .item{
      background-color: transparent;
      width: 100%;
      color: #DB5C00;
    }
    .input{
      color: #DB5C00;
    }
    .select{
      background-color: #ffffff;
      min-width: 100% !important;
      color: #DB5C00;
    }

  }

  .bottomGrid{
    position: fixed;
    bottom: 0;


  }

}
