page-stripe-payment {
  .stripe-payment {
    ion-item{
      background-color: black;
      color: white;
    }

    ion-input{
      color: white;
    }

    ion-label{
      color: white;
    }

    ion-select{
      color: white;
    }

    input[disabled] {
      color: #d3a33c !important;
      background: none !important;
      opacity: 1 !important;
    }

    .select-disabled, .item-select-disabled ion-label {
      color: #d3a33c !important;
      background: none !important;
      opacity: 1 !important;
    }
    
      background-color: black;

  }


}
