page-stripe-payment {
  .stripe-payment {
    ion-item{
      background-color: black;
      color: white;
    }

    ion-input{
      color: white;
    }

    ion-label{
      color: white;
    }

    ion-select{
      color: white;
    }
      background-color: black;

  }


}
