page-tag {
  .scizzor-search-header{
    background-color: #f7f7f7;
  }

  .scizzor-search-body{
    background-color: #f7f7f7;
    background-size: cover;
    background-position: center;
  }

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .header-icon{
    color:white;
  }

  .item{
    background-color:#f7f7f7;
  }

  .item h2 {
    color:white;
  }
  .item p {
    color:white;
  }

  .icon {
    color:#DB5C00;
  }

  .close{
    .icon {
      color:#fff;
    }
  }

  h2 {
    color:white;
  }

  p {
    color:white;
  }

  ion-searchbar{
    color:#fff;
  }

}



