page-lookbook-leroy {
.leroy {
  background-color: #f7f7f7;

  .start {
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(1deg);

  }

  .end {
    /* Rotate div */
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(-1deg);
  }

}

  ion-slide{

    display: inline-block;
    background-size: cover;
    background-position: center;

  }

  .postInfo {
    color:#fff;
    height: 100%;

    text-align: right;

    background:  linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1)100%);

  }


}
