page-service-payment {

  .service-payment {

    ion-item{
      background-color: black;
      color: white;
    }

    ion-input{
      color: white;
    }

    ion-label{
      color: white;
    }

    ion-select{
      color: white;
    }

    p{
      color: white;
    }

    ion-textarea{
    }

      background-color: black;
      background-size: cover;
      background-position: center;

  }

}
