page-creation {

  .img-loaded + ion-spinner {
    display:none;
  }

  .creation{



    background-color: #f7f7f7;
    color: #ffffff;
    height: 100%;

    p{
      color: #ffffff;
    }
    h2{
      color:#DB5C00;
    }

    scroll-content {
      display: flex;
      flex-direction: column;
    }

    ion-grid {
      padding: 0;
      height: 100%;
    }

    ion-row {
      flex: 1;
      height: 100%;

    }

    ion-col{
      bottom: 0;
    }

    .select{
      background-color: #ffffff;
      min-width: 100% !important;
      color: #DB5C00;
      font-family: gilroy;
    }


  }

}
