<!--
  Generated template for the CreationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content class="creation" >

  <ion-fab padding top left>
    <button mini ion-fab color="main"  (click)="goBack()"><ion-icon name="arrow-back"></ion-icon></button>
  </ion-fab>

  <ion-fab padding top right *ngIf="creating">
    <button mini ion-fab color="main"  (click)="save()"><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>

  <ion-fab padding top right *ngIf="editing">
    <button mini ion-fab color="main"  (click)="update()"><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>

  <div  style="height: 80%;" class="animated fadeIn">

  <img src={{creation.image}} *ngIf="(editing || creating)" (click)="getPicture()" style='height: 100%; width: 100%; object-fit: contain'  >
    <img src={{creation.image}} *ngIf="!(editing || creating)" style='height: 100%; width: 100%; object-fit: contain'  >

    </div>

  <div padding>


    <ion-item *ngIf="(editing || creating)" no-lines>
      <ion-select [(ngModel)]="creation.type" placeholder="Post Type" text-center>
        <ion-option value="Corporate">Corporate</ion-option>
        <ion-option value="Traditional">Traditional</ion-option>
        <ion-option value="Street Wear">Street Wear</ion-option>
      </ion-select>
    </ion-item>
    <ion-row style="text-align: center">
      <ion-col col-3><p class="animated bounceInRight" (click)="facebookShare(creation)"><ion-icon name="logo-facebook"></ion-icon></p></ion-col>
      <ion-col col-3><p class="animated bounceInRight" (click)="twitterShare(creation)"><ion-icon name="logo-twitter"></ion-icon></p></ion-col>
      <ion-col col-3><p class="animated bounceInRight" (click)="instagramShare(creation)"><ion-icon name="logo-instagram"></ion-icon></p></ion-col>
      <ion-col col-3><p class="animated bounceInRight" (click)="whatsappShare(creation)"><ion-icon name="logo-whatsapp"></ion-icon></p></ion-col>
      <ion-col col-3><p class="animated bounceInRight" (click)="emailShare(creation)"><ion-icon name="mail"></ion-icon></p></ion-col>
    </ion-row>
  <ion-row>

    <ion-col col-9 *ngIf="!(editing || creating)"><p class="animated bounceInRight"><b>{{creation.price}}</b></p></ion-col>
    <ion-col col-9 *ngIf="(editing || creating)"><p><b><ion-input type="text" [(ngModel)]="creation.price" ></ion-input></b></p></ion-col>
    <ion-col col-3 text-right padding class="animated slideInDown" >

      <img src="/assets/images/green.png" *ngIf="creation.availability" style="height:15px;"  >
      <img src="/assets/images/red.png" *ngIf="!(creation.availability)" style="height:15px;" >
    </ion-col>
  </ion-row>

    <ion-row>
      <ion-col col-8 *ngIf="!(editing || creating)" > <h2 class="animated bounceInLeft" >{{creation.name}}</h2></ion-col>
      <ion-col col-12 *ngIf="(editing || creating)">
      <h2><ion-input type="text" [(ngModel)]="creation.name" ></ion-input></h2>
      </ion-col>

      <ion-col col-4 text-right *ngIf="!(editing || creating)" class="animated flipInX">
        <button ion-button color="light" small outline *ngIf="dataService.permission == 'customer' && !(liked)" (click)="like()" >   <ion-icon name="heart" item-start color="danger"></ion-icon> &nbsp; Like</button>
        <button ion-button color="light" small outline *ngIf="dataService.permission == 'customer' && liked" (click)="viewOptions()"  >Options</button>
        <button ion-button color="light" small outline *ngIf="dataService.permission == 'service'" (click)="viewOptions()"  >Options</button>
      </ion-col>
    </ion-row>


  <ion-row>
    <ion-col col-12 *ngIf="!(editing || creating)">
      <p class="animated bounceInRight">{{creation.description}}</p>
    </ion-col>

    <ion-col col-12 *ngIf="(editing || creating)">

      <ion-item no-padding color="black" no-lines >
        <ion-textarea placeholder="Description" rows="4" [(ngModel)]="creation.description" text-left ></ion-textarea>
      </ion-item>


    </ion-col>
  </ion-row>
    </div>

</ion-content>
